
  /*   *{border:1px solid red} */
  .w-container{max-width:1110px;}
  .width-1170{max-width:1170px}
  .width-1190{max-width:1190px}
  .maxwidth-1366{max-width:1366px; margin-left:auto; margin-right:auto}
  .home-post-left-col{padding-left:15px !important;}
  .home-recent-blog .columns-9:hover .home-post-left-col .fade-out {background-image: linear-gradient(90deg, transparent, #000 21%);}
  p a{display:inline-block; border-bottom:1px solid #ff6f24}
  .w-row.no-neg-margin{margin-left:0 !important; margin-right:0 !important;}
  .wrap{width:1110px !important;}
  .cat-link p{color:#282828}
  .cat-link .arrow-black{}
  .cat-link .arrow-orange{display:none}
  .cat-link .line-holder-black{}
  .cat-link .line-holder-orange{display:none}
  .cat-link:hover p{color:#dc531f}
  .cat-link:hover .arrow-black{display:none}
  .cat-link:hover .arrow-orange{display:inline-block}
  .cat-link:hover .line-holder-black{display:none}
  .cat-link:hover .line-holder-orange{display:block}
  .content-list{padding-left:15px !important}
  .content-list li div.bullet-list::before{
  /*content: url('https://uploads-ssl.webflow.com/5ea4822fd3a80f6c9cc4fdd9/5eb2d87f4e75212ca563ff31_circle.png'); */
  content: '';
  margin-right: 8px;
  width: 8px;
  height: 8px;
  background: #000;
  display: inline-block;
  border-radius: 50%;   
  }
  
  .w-select.no-border{border:none;}
  .location-country-select{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .footer-link div { /*border-bottom:2px solid #1f201f; */ }
  .footer-link:hover div {
    /*border-bottom:2px solid red;*/
  }
    
  .w-nav-button.w--open strong{
    color:#f26922;
  }
  
  img{ max-width:100%; }
  
  .w-nav-button .mobile-menu-closed{}
  .w-nav-button.w--open .mobile-menu-closed{display:none}
  .w-nav-button .mobile-menu-opened{display:none;}
  .w-nav-button.w--open .mobile-menu-opened{display:inline-block;}
  .social_share_link .lottie-wrapper > div > svg:first-child{display:none}
  .workout-item .h3-title{transition:all .5s ease}
  .workout-item:hover .h3-title{
    color:#e25a20;
  }
  .workout-item:hover .link-with-arrow{
    color:#e25a20;
  }
  
    .workout-item:hover .workout-title {
    font-weight:bold;
  }
  
  
    .single-workout:hover{
     background-blend-mode: saturation;

  }
  a{color:#f26922}
  
/*  .subcat option, .cat option{
    display:none;
  }*/


    /*========= Form Placeholder ===========*/
   input.normal-input::-webkit-input-placeholder {
      color: #666;
       opacity:1;
  }
  input.normal-input:-moz-placeholder {
      /* FF 4-18 */
      color: #666;
      opacity:1;
  }
  input.normal-input::-moz-placeholder {
      /* FF 19+ */
      color: #666;
      opacity:1;
  }
  input.normal-input:-ms-input-placeholder {
      /* IE 10+ */
      color: #666;
      opacity:1;
  }

  textarea::-webkit-input-placeholder {
      color: #666;
  }
   textarea:-moz-placeholder {
      /* FF 4-18 */
      color: #666;
  }
  textarea::-moz-placeholder {
      /* FF 19+ */
      color: #666;
  }
  textarea:-ms-input-placeholder {
      /* IE 10+ */
      color: #666;
  }


  

  /*====  Blog Page Post list masonary ====*/
  /*
  .blog-post-list, .news-post-list{
    columns:150px 2;
  }
  .blog-post-list .blog-page-post, .news-post-list .blog-page-post{break-inside:avoid-column; display:inline-block; margin:20px 0;}
  .news-featured-post-text{padding-left:15px !important;}
  .content-list{list-style:none;}
  
 */
  .blog-post-list, .news-post-list{
      -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
    -webkit-perspective:1;
  
  }
  .blog-post-list .blog-page-post, .news-post-list .blog-page-post{
  width:100%;
    padding-top:18px;
    break-inside:avoid-column;
  }
  
  .vi-item-inner{
    background-color:#fff;
    background-blend-mode:luminosity;
  }
  .news-archive-summary img{display:none;}
  
  /* ====== VI Instructors Page ======*/
  .page-vi-instructors .vi-item-inner{
    background-size:120%;
    background-position: 50% 0%;
    transition: all 1s ease;
  }
  
  .page-vi-instructors .vi-item-inner:hover{
    background-size:100%;
  }

  .testimonial-text p{line-height:28px;}
  .single-news-template .single-post-col strong{display:block; margin-top:15px}
  .brand-3{
    height: 57px;
    margin-left: 0px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.staffed-hours p{margin-bottom:0;}
.mobile-cta-bottom .footer-cta-open-location, .mobile-cta-bottom .footer-cta-onboarding, .mobile-cta-bottom .footer-cta-presale,
.mobile-cta-bottom .footer-cta-franchising , .mobile-cta-bottom .footer-cta-map{display:none !important;}
body.Pre-Marketing .nav-link.highlighted-link.mobile-footer-cta.footer-cta-default{
  display:none !important;
}
body.Pre-Marketing .nav-link.highlighted-link.mobile-footer-cta.footer-cta-onboarding{
  display: block !important;
}

  .home-workout-section, .home-high-intensity-workout{
    background-image:url('https://chiguald.sirv.com/Hotworx/Home%20Page/GrungeTexture_Corner.png?format=webp');
    background-size:cover;
    background-position:0px 0px;
  
  }
  .home-recent-blog{
    background-image:url('https://chiguald.sirv.com/Hotworx/Home%20Page/opposite-texture.png?format=webp');
    background-size:cover;
    background-position:0px 0px;  
  }
  
  /*
  .home-hero-slide.slide.slide1{
    background-image:url('');
    background-size:cover;
  }
  */
 .screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}
  